$bodyBackgroundColorFrom:rgb(104, 24, 185);
$bodyBackgroundColorTo:rgb(137, 142, 246);
$labelColor:rgb(215, 255, 252);
$buttonBackgroundColor:rgb(30, 32, 166);
$buttonBackgroundColorHover:rgb(19, 20, 113);